[submodule "vim-colors-solarized"]
    path = bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git

[submodule "vim-perl"]
    path = bundle/vim-perl
    url = git://github.com/vim-perl/vim-perl.git
