[submodule "bundle/vim-colors-solarized"]
    path = bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git

[submodule "bundle/vim-perl"]
    path = bundle/vim-perl
    url = git://github.com/vim-perl/vim-perl.git

[submodule "bundle/vim-python-pep8-indent"]
    path = bundle/vim-python-pep8-indent
    url = git://github.com/hynek/vim-python-pep8-indent.git

[submodule "bundle/rainbow_parentheses.vim"]
    path = bundle/rainbow_parentheses.vim
    url = git://github.com/kien/rainbow_parentheses.vim.git

[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
